{% extends "template.html" %}
{% block title%}Cool Schedule{% endblock %}
{% block header %}
<div data-theme="a" data-role="header">
	<a data-role="button" data-direction="reverse" data-rel="back" href="#page1" data-icon="back" data-iconpos="left" class="ui-btn-left">Back</a>
	<h3>Cool Schedule</h3>
	<a data-role="button" href="javascript:settingsSubmitForm();" data-icon="check" data-iconpos="left" class="ui-btn-right">OK</a>
	</div>
{% endblock %}
{% block content %}
<form name="cool_schedule" actioni="./cool_schedule.html" method="POST">
	<fieldset onchange="this.form.submit()" data-role="collapsibleset" data-theme="a" data-content-theme="a">
		<div data-role="collapsible">
			<h3>Sunday</h3>
			<label for="cooltime-1-1"><span title="Set the time of day when you wake up">Wake:</span></label>
			<input data-clear-btn="false" name="cooltime-1-1" id="cooltime-1-1" value="" type="cooltime">
			<label for="cooltemp-1-1">Temp:</label>
			<input name="cooltemp-1-1" id="cooltemp-1-1" data-highlight="true" min="50" max="100" value="70" type="range">
			<label for="cooltime-1-2"><span title="Set the time of day when you leave your home">Leave:</span></label>
			<input data-clear-brn="false" name="cooltime-1-2" id="cooltime-1-2" value="" type="cooltime">
			<label for="cooltemp-1-2">Temp:</label>
			<input name="cooltemp-1-2" id="cooltemp-1-2" data-highlight="true" min="50" max="100" value="70" type="range">
			<label for="cooltime-1-3"><span title="Set the time of day whe you will return home">Return:</span></label>
			<input data-clear-brn="false" name="cooltime-1-3" id="cooltime-1-3" value="" type="cooltime">
			<label for="cooltemp-1-3">Temp:</label>
			<input name="cooltemp-1-3" id="cooltemp-1-2" data-highlight="true" min="50" max="100" value="70" type="range">
			<label for="cooltime-1-4"><span title="Set the time of day when you will go to sleep">Sleep:</span></label>
			<input data-clear-btn="false" name="cooltime-1-4" id="cooltime-1-4" value="" type="cooltime">
			<label for="cooltemp-1-4">Temp:</label>
			<input name="cooltemp-1-4" id="cooltemp-1-4" data-highlight="true" min="50" max="100" value="70" type="range">
		</div>
		<div data-role="collapsible">
			<h3>Monday</h3>
			<label for="cooltime-2-1"><span title="Set the time of day when you wake up">Wake:</span></label>
			<input data-clear-btn="false" name="cooltime-2-1" id="cooltime-2-1" value="" type="cooltime">
			<label for="cooltemp-2-1">Temp:</label>
			<input name="cooltemp-2-1" id="cooltemp-2-1" data-highlight="true" min="50" max="100" value="70" type="range">
			<label for="cooltime-2-2"><span title="Set the time of day when you leave your home">Leave:</span></label>
			<input data-clear-btn="false" name="cooltime-2-2" id="cooltime-2-2" value="" type="cooltime">
			<label for="cooltemp-2-2">Temp:</label>
			<input name="cooltemp-2-2" id="cooltemp-2-2" data-highlight="true" min="50" max="100" value="70" type="range">
			<label for="cooltime-2-3"><span title="Set the time of day when you will return home">Return:</span></label>
			<input data-clear-btn="false" name="cooltime-2-3" id="cooltime-2-3" value="" type="cooltime">
			<label for="cooltemp-2-3">Temp:</label>
			<input name="cooltemp-2-3" id="cooltemp-2-3" data-highlight="true" min="50" max="100" value="70" type="range">
			<label for="cooltime-2-4"><span title="Set the time of day when you will go to sleep">Sleep:</span></label>
			<input data-clear-btn="false" name="cooltime-2-4" id="cooltime-2-4" value="" type="cooltime">
			<label for="cooltemp-2-4">Temp:</label>
			<input name="cooltemp-2-4" id="cooltemp-2-4" data-highlight="true" min="50" max="100" value="70" type="range">
		</div>
		<div data-role="collapsible">
			<h3>Tuesday</h3>
			<label for="cooltime-3-1"><span title="Set the time of day when you wake up">Wake:</span></label>
			<input data-clear-btn="false" name="cooltime-3-1" id="cooltime-3-1" value="" type="cooltime">
			<label for="cooltemp-3-1">Temp:</label>
			<input name="cooltemp-3-1" id="cooltemp-3-1" data-highlight="true" min="50" max="100" value="70" type="range">
			<label for="cooltime-3-2"><span title="Set the time of day when you leave your home">Leave:</span></label>
			<input data-clear-brn="false" name="cooltime-3-2" id="cooltime-3-2" value="" type="cooltime">
			<label for="cooltemp-3-2">Temp:</label>
			<input name="cooltemp-3-2" id="cooltemp-3-2" data-highlight="true" min="50" max="100" value="70" type="range">
			<label for="cooltime-3-3"><span title="Set the time of day whe you will return home">Return:</span></label>
			<input data-clear-brn="false" name="cooltime-3-3" id="cooltime-3-3" value="" type="cooltime">
			<label for="cooltemp-3-3">Temp:</label>
			<input name="cooltemp-3-3" id="cooltemp-3-2" data-highlight="true" min="50" max="100" value="70" type="range">
			<label for="cooltime-3-4"><span title="Set the time of day when you will go to sleep">Sleep:</span></label>
			<input data-clear-btn="false" name="cooltime-3-4" id="cooltime-3-4" value="" type="cooltime">
			<label for="cooltemp-3-4">Temp:</label>
			<input name="cooltemp-3-4" id="cooltemp-3-4" data-highlight="true" min="50" max="100" value="70" type="range">
		</div>
		<div data-role="collapsible">
			<h3>Wednesday</h3>
			<label for="cooltime-4-1"><span title="Set the time of day when you wake up">Wake:</span></label>
			<input data-clear-btn="false" name="cooltime-4-1" id="cooltime-4-1" value="" type="cooltime">
			<label for="cooltemp-4-1">Temp:</label>
			<input name="cooltemp-4-1" id="cooltemp-4-1" data-highlight="true" min="50" max="100" value="70" type="range">
			<label for="cooltime-4-2"><span title="Set the time of day when you leave your home">Leave:</span></label>
			<input data-clear-brn="false" name="cooltime-4-2" id="cooltime-4-2" value="" type="cooltime">
			<label for="cooltemp-4-2">Temp:</label>
			<input name="cooltemp-4-2" id="cooltemp-4-2" data-highlight="true" min="50" max="100" value="70" type="range">
			<label for="cooltime-4-3"><span title="Set the time of day whe you will return home">Return:</span></label>
			<input data-clear-brn="false" name="cooltime-4-3" id="cooltime-4-3" value="" type="cooltime">
			<label for="cooltemp-4-3">Temp:</label>
			<input name="cooltemp-4-3" id="cooltemp-4-2" data-highlight="true" min="50" max="100" value="70" type="range">
			<label for="cooltime-4-4"><span title="Set the time of day when you will go to sleep">Sleep:</span></label>
			<input data-clear-btn="false" name="cooltime-4-4" id="cooltime-4-4" value="" type="cooltime">
			<label for="cooltemp-4-4">Temp:</label>
			<input name="cooltemp-4-4" id="cooltemp-4-4" data-highlight="true" min="50" max="100" value="70" type="range">
		</div>
		<div data-role="collapsible">
			<h3>Thursday</h3>
			<label for="cooltime-5-1"><span title="Set the time of day when you wake up">Wake:</span></label>
			<input data-clear-btn="false" name="cooltime-5-1" id="cooltime-5-1" value="" type="cooltime">
			<label for="cooltemp-5-1">Temp:</label>
			<input name="cooltemp-5-1" id="cooltemp-5-1" data-highlight="true" min="50" max="100" value="70" type="range">
			<label for="cooltime-5-2"><span title="Set the time of day when you leave your home">Leave:</span></label>
			<input data-clear-brn="false" name="cooltime-5-2" id="cooltime-5-2" value="" type="cooltime">
			<label for="cooltemp-5-2">Temp:</label>
			<input name="cooltemp-5-2" id="cooltemp-5-2" data-highlight="true" min="50" max="100" value="70" type="range">
			<label for="cooltime-5-3"><span title="Set the time of day whe you will return home">Return:</span></label>
			<input data-clear-brn="false" name="cooltime-5-3" id="cooltime-5-3" value="" type="cooltime">
			<label for="cooltemp-5-3">Temp:</label>
			<input name="cooltemp-5-3" id="cooltemp-5-2" data-highlight="true" min="50" max="100" value="70" type="range">
			<label for="cooltime-5-4"><span title="Set the time of day when you will go to sleep">Sleep:</span></label>
			<input data-clear-btn="false" name="cooltime-5-4" id="cooltime-5-4" value="" type="cooltime">
			<label for="cooltemp-5-4">Temp:</label>
			<input name="cooltemp-5-4" id="cooltemp-5-4" data-highlight="true" min="50" max="100" value="70" type="range">
		</div>
		<div data-role="collapsible">
			<h3>Friday</h3>
			<label for="cooltime-6-1"><span title="Set the time of day when you wake up">Wake:</span></label>
			<input data-clear-btn="false" name="cooltime-6-1" id="cooltime-6-1" value="" type="cooltime">
			<label for="cooltemp-6-1">Temp:</label>
			<input name="cooltemp-6-1" id="cooltemp-6-1" data-highlight="true" min="50" max="100" value="70" type="range">
			<label for="cooltime-6-2"><span title="Set the time of day when you leave your home">Leave:</span></label>
			<input data-clear-brn="false" name="cooltime-6-2" id="cooltime-6-2" value="" type="cooltime">
			<label for="cooltemp-6-2">Temp:</label>
			<input name="cooltemp-6-2" id="cooltemp-6-2" data-highlight="true" min="50" max="100" value="70" type="range">
			<label for="cooltime-6-3"><span title="Set the time of day whe you will return home">Return:</span></label>
			<input data-clear-brn="false" name="cooltime-6-3" id="cooltime-6-3" value="" type="cooltime">
			<label for="cooltemp-6-3">Temp:</label>
			<input name="cooltemp-6-3" id="cooltemp-6-2" data-highlight="true" min="50" max="100" value="70" type="range">
			<label for="cooltime-6-4"><span title="Set the time of day when you will go to sleep">Sleep:</span></label>
			<input data-clear-btn="false" name="cooltime-6-4" id="cooltime-6-4" value="" type="cooltime">
			<label for="cooltemp-6-4">Temp:</label>
			<input name="cooltemp-6-4" id="cooltemp-6-4" data-highlight="true" min="50" max="100" value="70" type="range">
		</div>
		<div data-role="collapsible">
			<h3>Saturday</h3>
			<label for="cooltime-7-1"><span title="Set the time of day when you wake up">Wake:</span></label>
			<input data-clear-btn="false" name="cooltime-7-1" id="cooltime-7-1" value="" type="cooltime">
			<label for="cooltemp-7-1">Temp:</label>
			<input name="cooltemp-7-1" id="cooltemp-7-1" data-highlight="true" min="50" max="100" value="70" type="range">
			<label for="cooltime-7-2"><span title="Set the time of day when you leave your home">Leave:</span></label>
			<input data-clear-brn="false" name="cooltime-7-2" id="cooltime-7-2" value="" type="cooltime">
			<label for="cooltemp-7-2">Temp:</label>
			<input name="cooltemp-7-2" id="cooltemp-7-2" data-highlight="true" min="50" max="100" value="70" type="range">
			<label for="cooltime-7-3"><span title="Set the time of day whe you will return home">Return:</span></label>
			<input data-clear-brn="false" name="cooltime-7-3" id="cooltime-7-3" value="" type="cooltime">
			<label for="cooltemp-7-3">Temp:</label>
			<input name="cooltemp-7-3" id="cooltemp-7-2" data-highlight="true" min="50" max="100" value="70" type="range">
			<label for="cooltime-7-4"><span title="Set the time of day when you will go to sleep">Sleep:</span></label>
			<input data-clear-btn="false" name="cooltime-7-4" id="cooltime-7-4" value="" type="cooltime">
			<label for="cooltemp-7-4">Temp:</label>
			<input name="cooltemp-7-4" id="cooltemp-7-4" data-highlight="true" min="50" max="100" value="70" type="range">
		</div>
	</fieldset>
</form>
{% endblock %}
