<!DOCTYPE html>
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>"current_temperature"</title>
<meta http-equiv="refresh" content="10"></head><body>
<div style="text-align: center;"><font face="arial" size="+4">{{current_temperature}}<sup><small><small>°C</small></small></sup></font>
<br>
<font face="arial" size="+1">Humidité: {{current_humidity}}<sup><small> %</small></sup></font>
<br><font face="arial" >Extérieur: {{ ec_current_cond }}</font></div>
</body></html>
