<!DOCTYPE html>
<html><head>
  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>{{ title }}</title>
  <meta http-equiv="refresh" content="30">
  <link rel="shortcut icon" type="image/gif" href="/static/Z_Icon.gif" />
<meta name="viewport" content="target-densitydpi=device-dpi; width=device-width; initial-scale=1.6; maximum-scale=1.6; user-scalable=no;"/>
</head><body>
<font face="arial">
      <table  style="text-align: left; width: 560px; height: 300px; margin-left: 50px; margin-right: auto;" border="1" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td style="vertical-align: top; height: 30px; vertical-align: top">
            <iframe src="./status_bar.html" frameborder="0" height=100% scrolling="no" width=100% > </iframe>
            </td>
          </tr>
          <tr>
            <td style="vertical-align: top; height: 90px;"><span class="st"></span>
            <table style="text-align: left; width: 100%; height: 100%;">
              <tbody>
                <tr>
                  <td style="vertical-align: top; text-align: center; width: 136px;">Température Réglée<br><br><iframe src="./set_temperature.html" frameborder="0" height="90" scrolling="no" width="130"> </iframe>
                  </td>
                  <td style="vertical-align: top; text-align: center; width: 260px;">Conditions Présentes<br><iframe src="./current_temperature.html" frameborder="0" height="130" scrolling="no" width="170"> </iframe>
                  </span></td>
                  <td style="vertical-align: top; text-align: center; width: 134px;">Opération<br>En Cours<br><br>
                  <iframe src="./current_system_action.html" frameborder="0" height="90" scrolling="no" width="100"></iframe><br>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr align="center">
            <td style="vertical-align: top;">
<iframe src="./ctrl_buttons.html" frameborder="0" height="90" scrolling="no" width="540"> </iframe><br>
            </td>
          </tr>
        </tbody>
      </table>
</font>
</body></html>
