<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
		<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
		<title>{{ title }}</title>
		<link rel="stylesheet"  href="{{ url_for('static', filename='css/style.css') }}" />
		<meta http-equiv="refresh" content="30">
		<link rel="shortcut icon" type="image/gif" href="/static/Z_Icon.gif" />
		<meta name="viewport" content="target-densitydpi=device-dpi; width=device-width; initial-scale=1.6; maximum-scale=1.6; user-scalable=no;"/>
	</head>
	<body>
		<div id="wrap">
			<div id="main">
				<div id="status_bar">
					{% include "status_bar.html" %}
				</div>
				<div id="side">
					{% include "set_temperature.html" %}
					<div id="current_system_action">
						{% include "current_system_action.html" %}
					</div>
				</div>
				<div id="body">
					{% include "current_temperature.html" %}
				</div>
			</div>
			<div id="footer">
				<div id="ctrl_buttons">
					{% include "ctrl_buttons.html" %}
				</div>
			</div>
		</div>
	</body>
</html>
