{% extends "template.html" %}
{% block title %}Main{% endblock %}
{% block header %}<h3>Thermostat</h3>{% endblock %}
{% block content %}
<div data-role="content">
	<div style="float:left;font-size:small;margin-top:30px;">
		<b>Weather</b><br/>
		{{ current_location }}<br/>
		{{ outside_temp }}˚
	</div>
	<div>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
		<script>
			jQuery(document).ready(function($) {
				$.ajax({
					url : "http://api.wunderground.com/api/{{ wu_api_key }}/geolookup/conditions/q/{{ wu_state }}/{{ wu_city }}.json",
					dataType : "jsonp",
					success : function(parsed_json) {
						var location = parsed_json['location']['city'];
						var temp_f = parsed_json['current_observation']['temp_f'];
						alert("Current temperature in " + location + " is: " + temp_f);
					}
				});
			});
			function render(result) {
				$("h2").text(result.location.city);
				var forecast = result.forecast.simpleforecast.forecastday;
				renderWeather(forecast);
				
				$("progress.win-ring").hide();
				$(".content").fadeIn("fast");
			}
			
			function renderWeather(forecast) {
				var condition = forecast[0];
				var conditionElement = $(".condition");
				var imageSrc = "/images/icons/" + condition.icon + ".svg";
				conditionElement.find("img").attr("src", imageSrc);
				conditionElement.find(".high span").text(condition.high.celsius);
				conditionElement.find(".low span").text(condition.low.celsius);
				conditionElement.find(".text").text(condition.conditions.toLowerCase());
				conditionElement.find(".wind span").text(condition.avewind.kph);

				var todayIndex = 0;
				$.each(forecast, function (index, item) {
					if (index === todayIndex) return;

					renderForecast($(".day-" + index), item);
				});
			}

		</script>
	</div>
	<div style="float:right;font-size:small;margin-top:30px;text-align:center;">
		<b>Set Temperature</b><br/>
		{{ set_temp }}˚
	</div>
	<div style="text-align:center;">
		<span style="font-family:'Poiret One',cursive;font-size:128px;margin-left:60px;">{{current_temperature}}˚</span><br/>
		<span>Current Temperature</span>
	</div>
	<div style="text-align:center;">
		<form>
			<fieldset data-role="controlgroup" data-theme="b" data-type="horizontal">
				<legend><h3>Current Operation</h3></legend>
				<input name="radio-choice-t-6" id="radio-choice-t-6a" value="on" checked="checked" type="radio">
				<label for="radio-choice-t-6a">Heat</label>
				<input name="radio-choice-t-6" id="radio-choice-t-6b" value="off" type="radio">
				<label for="radio-choice-t-6b">Off</label>
				<input name="radio-choice-t-6" id="radio-choice-t-6c" value="other" type="radio">
				<label for="radio-choice-t-6c">A/C</label>
			</fieldset>
		</form>
	</div>
	<ul data-role="listview" data-divider-theme="b" data-inset="true" data-split-theme="b">
		<li data-theme="c"><a href="heat_schedule" data-transition="slide" id="head_schedule">Heat Schedule</a></li>
		<li data-theme="c"><a href="cool_schedule" data-transition="slide" id="cool_schedule">Cool Schedule</a></li>
		<li data-theme="c"><a href="override" data-transition="slide" id="override">Manual Override</a></li>
	</ul>
</div>
{% endblock %}
