<!DOCTYPE html>
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>"current_temperature"</title>
</head>
<form name="submit" action="./set_temperature.html" method="POST">
<div align="center">
<select name="set_temp_dropdown" size=1 onchange="this.form.submit()" style="height: 40px; text-align: center; background-color:white; font-size:20pt;">
<option value="15.0" {{ s1selected }}>15.0 °</option>
<option value="15.5" {{ s2selected }}>15.5 °</option>
<option value="16.0" {{ s3selected }}>16.0 °</option>
<option value="16.5" {{ s4selected }}>16.5 °</option>
<option value="17.0" {{ s5selected }}>17.0 °</option>
<option value="17.5" {{ s6selected }}>17.5 °</option>
<option value="18.0" {{ s7selected }}>18.0 °</option>
<option value="18.5" {{ s8selected }}>18.5 °</option>
<option value="19.0" {{ s9selected }}>19.0 °</option>
<option value="19.5" {{ s10selected }}>19.5 °</option>
<option value="20.0" {{ s11selected }}>20.0 °</option>
<option value="20.5" {{ s12selected }}>20.5 °</option>
<option value="21.0" {{ s13selected }}>21.0 °</option>
<option value="21.5" {{ s14selected }}>21.5 °</option>
<option value="22.0" {{ s15selected }}>22.0 °</option>
<option value="22.5" {{ s16selected }}>22.5 °</option>
<option value="23.0" {{ s17selected }}>23.0 °</option>
<option value="23.5" {{ s18selected }}>23.5 °</option>
<option value="24.0" {{ s19selected }}>24.0 °</option>
<option value="24.5" {{ s20selected }}>24.5 °</option>
<option value="25.0" {{ s21selected }}>25.0 °</option>
<option value="25.5" {{ s22selected }}>25.5 °</option>
<option value="26.0" {{ s23selected }}>26.0 °</option>
<option value="26.5" {{ s24selected }}>26.5 °</option>
<option value="27.0" {{ s25selected }}>27.0 °</option>
<option value="27.5" {{ s26selected }}>27.5 °</option>
<option value="28.0" {{ s27selected }}>28.0 °</option>
<option value="28.5" {{ s28selected }}>28.5 °</option>
<option value="29.0" {{ s29selected }}>29.0 °</option>
<option value="29.5" {{ s30selected }}>29.5 °</option>
</select>
</div>
</form>
</body>
</html>
